/* UTILITIES */
.site-btn {
    border-radius: 20px;
}

.btn-grey-blue {
    background: #D9DADC;
    color: #1A72CE;
}

.h-450px {
    height: 650px;
}

.h-650px {
    height: 650px;
}

.site-color-blue {
    color: #1A72CE;
}

.color-grey {
    color: #aaa;
    font-size: 18px;
    font-weight: 500;
}

body {
    padding-top: 110px;
}

/* HEADER */
header .site-logo {
    background: #000;
    text-align: right;
}

header .site-logo img {
    height: 1rem;
}

header .site-brand img {
    height: 3rem;
}

header nav .icon {
    font-size: 1.25rem;
}

header nav .site-dropdown-angle {
    font-size: 0.75rem;
    color: rgb(99, 97, 97);
}

/* MAIN */
/* Hero */
.hero.game-1 .hero-up {
    background-image: url(../img/jumbo-bg.png);
    background-position: center 0;
    background-size: cover;
}

.hero.game-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.hero .hero-logo {
    max-width: 50%;
}

.hero-down .site-card:hover {
    box-shadow: 0 0 0 0.15rem #1A72CE;
    border-radius: 15px;
}

.hero-down .site-card img {
    width: 100%;
    border-radius: 15px;
}


/* Playstation 5 */
.playstation-5 .card-image .small-image {
    width: 100%;
}



/* New releases */
.new-releases {
    background: #1F1F1F;
}

.new-releases .card-image img {
    border-radius: 15px;
}

/* Hero psplus */
.hero.psplus {
    background: #BEBCBB;
}



/* *************
    RESPONSIVE
   ************* */

@media screen and (min-width: 768px) {
    .playstation-5 .card-image .small-image {
        width: 50%;
    }
}