/* UTILITIES */
.site-btn {
    border-radius: 20px;
}

.h-450px {
    height: 450px;
}

body {
    padding-top: 110px;
}

/* HEADER */
header .site-logo {
    background: #000;
    text-align: right;
}

header .site-logo img {
    height: 1rem;
}

header .site-brand img {
    height: 3rem;
}

header nav .icon {
    font-size: 1.25rem;
}

header nav .site-dropdown-angle {
    font-size: 0.75rem;
    color: rgb(99, 97, 97);
}

/* MAIN */
/* Hero */
.hero-up {
    background-image: url(../img/jumbo-bg.png);
    background-position: center 0;
    background-size: cover;
}

.hero-up .hero-logo {
    max-width: 50%;
}

.hero-down .site-card:hover {
    box-shadow: 0 0 0 0.15rem #1A72CE;
    border-radius: 15px;
}

.hero-down .site-card img {
    width: 100%;
    border-radius: 15px;
}